<mat-toolbar >
    <h1><strong>BigApe</strong></h1>
    <span class="example-spacer"></span>
    <li class="nav-item dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Login
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Admin</a></li>
          <li><a class="dropdown-item" href="#">User</a></li>
        </ul>
      </li>
</mat-toolbar>
