.card,
.login-wrapper
{
    background-color:black;
}
.text-center a{
    color: blue;
}
.text-center button
{
    font-size: 27px;
    width: 40%;
}

.text-center
{
    font-size: 25px;
}
.h3
{
    font-size: 35px;
}
.form-label
{
    font-size: 25px;
}
.form-control
{
    background-color: rgb(168, 168, 168);
}
.card-body,
.form-signin
{
    background-color:white;
}

.login-wrapper{
    margin: 15rem auto;
    width: 40rem;
    height: 80%;
    border-radius: 3rem;
}
section {
    padding-top: 15px;
}
.col-md-8 span
{
    font-size: 30px;
}
.mb-3 input
{
    color: aliceblue;
    font-size: 20px;
}